.container-home {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1f;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mydata {
    text-align: center;
    align-items: center;
}

.mydata img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 1px solid yellow;
}

.mydata h1, .description {
    font-size: 19px;
    color: #fff;
}

.mylinks {
    text-align: center;
    align-items: center;
}

.container-home li {
    list-style: none;
}

.container-home a {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: yellow;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 12px 100px;
    margin: 12px;
}

.container-home a:hover {
    background-color: rgb(220, 220, 135);
}

.qr-code {
    text-align: center;
}

.qr-code img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.sobre-container {
    background-color: #fff;

    height: auto;
}

.sobre-description {
    padding: 15% 20px;
}

@media (min-width: 800px) {
    .container-home {
        flex-direction: row;
    }

@media (min-width: 1800px) {

    }

    .sobre-description {
        padding: 5%
    }
    .mydata img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px solid yellow;
        margin-top: 20px;
    }

    .mylinks {
        width: 400px;
    }

    .qr-code img {
        width: 190px;
        margin-bottom: 30px;
    
    }
    
}