section h2 {
    margin-bottom: 30px;
}

section h3 {
    margin-top: 0;
}

.experience-column {
    background-color: #fff;
}

.experience-column section {
    margin-bottom: 30px;
}

.experience-column h2 {
    margin: 15px 0;
}

.experience-column h3 {
    margin-top: 10px;
}

.experience-column .exp p {
    margin-bottom: 20px;
}

.container-about h4 {
    margin-bottom: 5px;
}

.experience-column a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}